@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@100..900,300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Kumbh Sans", sans-serif;
  font-optical-sizing: auto;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  --Blue-600: hsl(185, 75%, 39%);
  --Navy-950: hsl(229, 23%, 23%);
  --Gray-500: hsl(227, 10%, 46%);
  --Gray-100: hsl(225, 10%, 92%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--Blue-600);
  background-image:
    url("./assets/bgPatternTop.svg"),
    url("./assets/bgPatternBottom.svg");
  background-repeat: no-repeat, no-repeat;
  background-size: contain, contain;
  background-position: top left, bottom right;
}